
// Center text
%txt-centered {
    text-align: center;
}

// Nav href-txt-case
%nav-href-txt-case {
  text-transform: uppercase;
}


// Auto center Block
%block-margin-0-auto {
      display: block;
      margin: 0 auto;
}

// Header NAV Href Li margins
%nav-href-li-margins {
  margin: 0 0.9375em 0.3125em 0.9375em;
}

